* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 20px;
}

section {
    margin-bottom: 30px;
}

section>div {
    border: 2px dashed black;
    background-color: #9161b1;
}

section>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8993fec;
    border: 2px solid black;
    font-size: 1.5rem;
    /* border-radius: 10px; */
    margin: 1px;
    padding: 10px 18px 10px 18px;
}

.item-font1 {
    font-size: 15px;
}

.item-font2 {
    font-size: 50px;
}

.item-font3 {
    font-size: 40px;
}

.item-font4 {
    font-size: 60px;
}

.item-font5 {
    font-size: 10px;
}

.item-font6 {
    font-size: 25px;
}
