* {
    margin: 3px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    border: 3px solid black;
    background-color: #9161b1;
    border-radius: 24px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e89a3f;
    border: 3px solid black;
    font-size: 2rem;
    border-radius: 20px;
}